@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c5f);
    }

    main {
        width: 80%;
    }
    
    section#login {        
        display: block;
        float: right;
        width: 90%;
        height: 300px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 1px 1px 5px 2px rgba(5, 5, 5, 0.288);
    }     
    

    div#imagem {
        display: block;
        float:left;
        width: 50%;
        background: url('../imagens/building.jpg') no-repeat;
        background-size: cover; 
    }

    div#formulário{
        display: block;
        float:left;
        width: 50%;
    }
}
/*
@media screen and (min-width: 600px){
    html {        
        background-image: linear-gradient(to top, #39827e, #5d2c80);
        background-attachment: fixed;
    }     
}*/

